.icon_previous{
width:20%;
margin-top: 20%;
background-color:rgb(150, 18, 18);;
border-radius: 50%;

}

.buttonprevious{
    background:transparent;
    border:transparent;
}

.buttonprevious_div {
    margin-top: 10%;
}
