.container {
    display: grid;
    /* border: 2px dashed rgba(114, 186, 94, 0.35); */
    height: 350px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap:15px;
    background: black;
    color: grey;
    margin-top:30px;
    margin-bottom:30px;
  }
  .item {
    width: 90%;
    height: 90%;
    /* background: rgba(219, 43, 20, 0.4); */
    /* border: 2px dashed rgba(219, 43, 20, 0.5); */
    /* font-size: 14px; */
    text-align: center;
    margin-left: 5%;
  }

  h2 {
    font-size: 1.5em;
    font-family: "Halloweenpolice";
    color: rgb(150, 18, 18);
    text-align: center;
}
  h3 {
    font-size: 1.5em;
    font-family: "Halloweenpolice";
    color: rgb(150, 18, 18);
    text-align: center;
}

.bonbonimg{
  width:100%;
 max-height: 120px;

}



@font-face {
  font-family: 'halloweenpolice';
  src: 
       url('./police/MYBLS___.TTF') format('truetype');    
  font-weight: normal;
  font-style: normal;
  }	 