.container {
    display: grid;
    border: 2px dashed rgba(114, 186, 94, 0.35);
    height: 350px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background: rgba(114, 186, 94, 0.05);
    color: grey;
  }
  .item {
    width: 90%;
    height: 90%;
    background: rgba(219, 43, 20, 0.4);
    border: 2px dashed rgba(219, 43, 20, 0.5);
    font-size: 14px;
    text-align: center
  }

  h2 {
    font-size: 2em;
    font-family: "Halloweenpolice";
    color: rgb(150, 18, 18);
    text-align: center;
}
  h3 {
    font-size: 1em;
    font-family: "Halloweenpolice";
    color: rgb(150, 18, 18);
    text-align: center;
}