.container {
    display: grid;
    height: 350px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background: rgba(114, 186, 94, 0.05);
    color: grey;
  }
  .item {
    width: 100%;
  }

  h2 {
    font-size: 2em;
    font-family: "Halloweenpolice";
    color: rgb(150, 18, 18);
    text-align: center;
}
  h3 {
    font-size: 1em;
    font-family: "Halloweenpolice";
    color: rgb(150, 18, 18);
    text-align: center;
}