.Gif img {
    width: 100%;
    z-index: -1;
  
}
 @media only screen and (max-width: 650px) {
    .Gif img {
        width: 100%;
    }
}

.html {
    background-color: black;
}

.champsinput {

    background-color: transparent;
    border: none;
    text-align: center;
    color: white;
    
    }
    
    .champsinput:hover {
    border: none;
    text-decoration: none;
    outline-style: none;
    }